@import "variables";

.divclass > div {
  width: 362px;
  height: 171px;
}

.divclass2 {
  background-color: $div-bg-color;
  width: 362px;
  height: 171px;
  border-radius: 0px 0px 5px 5px;
  opacity: 0px;
}

.pclass {
  display: inline-block;
  color: $text-color;
  font-family: $font-family;
  font-size: 10px;
  font-weight: 700;
  text-align: left;
  width: 238px;
  height: 36px;
  line-height: 20px;
  margin: 40px;
  margin-top: 80px;
  margin-bottom: 15px;
}
.divclass > div{ 
  width: 362px;
  height: 171px;  
}
.divclass2{
   background-color:$div-bg-color ;
   width: 362px;
   height: 171px;
   border-radius: 0px 0px 5px 5px;
   opacity: 0px;
}
.divclass{
  vertical-align: top;
  display: inline-block;
  gap: 0px;
  opacity: 0px;
}
.divclass1{
   margin-left: 30px;
}
.divclass3{
  margin-left: 40px;
 
 }